# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.wheels/

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.pytest_cache/

# Environment files
.env
.venv
env/
venv/

# Spyder project settings
.spyderproject
.spyproject

# VSCode
.vscode/

# PyCharm
.idea/

# MyPy
.mypy_cache/

not_upload_to_github/